<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542956639359-qkqkf4eqlret58vkni551qfk0947j3a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542956639359-qkqkf4eqlret58vkni551qfk0947j3a0</string>
	<key>API_KEY</key>
	<string>AIzaSyCQs6ZqGhi5HKHCHJAh9MbLCD_cQaW2lZM</string>
	<key>GCM_SENDER_ID</key>
	<string>542956639359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.natanmanik.gofiv</string>
	<key>PROJECT_ID</key>
	<string>gofiv-ed07c</string>
	<key>STORAGE_BUCKET</key>
	<string>gofiv-ed07c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542956639359:ios:01c7ab0b3666eae7509b4a</string>
</dict>
</plist>